* {
    margin: 0;
    padding: 0;
    color: #333;
}

h1{
    text-align: center;
    color:#388E3C;
}

h3 {
    color:#388E3C;
}
.inner-wrapper > p {
    text-align: center;
    color:darkgrey;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.inner-wrapper {
    margin: 0 auto;
    max-width: 850px;;
}

.results {
    width: 100%; 
    height: auto;
}

.menu {
    background-color: #ddd;
}

section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: stretch;
}

button {
    padding: 13px;
    border-radius: 10px;
    color: #2E7D32; 
    border: 2px solid #2E7D32; 
    background-color: transparent;
}

button:hover {
    border: 2px solid #64DD17;
}

form {
    width: 100%; 
    max-width: 650px;
    padding-top: 30px;
}

input {
    width: 250px;
    height: 30px;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #2E7D32; 
}

form p {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(67, 1, 1)
}

a:hover {
    color: #64DD17;
}

.box {
    margin-left: 50px;
}